@charset "utf-8";

body {
    text-align: center;
	background: black;
	background: url("../img/bg.jpg");
	color: black;
}

.box{
	margin:0 auto;
	width: 90%;
	height: 85%;
	background: white;
	margin-top: 5%;
    margin-bottom: 5%;
}
.flex{
	display: flex;
}
.txtbox{
	width: 60%;
}
.imgbox{
	margin: 0 auto;
}
#limg{
	width: 30%;
	height: 30%;
}